<div class="container text-center" style="font-size:25px; font-family: helvetica cursive;">
<%= link_to 'Home',menus_path %> </div>
<div  style="font-size:35px; font-family: helvetica cursive;">
        <p><%= current_user.name%></p>
        <p><%= current_user.email%></p>
        <p><%= current_user.phone%></p>
</div>