<div class="container text-center">
<%= link_to 'Home',menus_path %> 
        <h1><%= current_user.name%></h1>
        <h2><%= current_user.email%></h2>
        <h2><%= current_user.phone%></h2>
</div>