
<div class="container text-center">
   <span class="border" style=" font-size: 20px; font-family: Helvetica; ">
    <h1 class="home-title">Cafe Dream</h1>
    <p class="Home-authenticate">New user ? <%= link_to "sign-up", new_user_path%></p>
    <p class="Home-authenticate">Welcome back! <%= link_to "sign-in", new_sessions_path%></p>
    </span>
</div>