<head>
<link rel="stylesheet" href="app/assets/stylesheets/home.scss">
</head>


<div class="container text-center" >
   <span class="border"  >
    <p class="home-title" style=" font-size: 90px; font-family: cursive;">Cafe Dream</p>
    <p class="Home-authenticate" style=" font-size: 22px; font-family:helvetica">New user ? <%= link_to "sign-up", new_user_path%></p>
    <p class="Home-authenticate" style=" font-size: 22px; font-family:helvetica">Welcome back! <%= link_to "sign-in", new_sessions_path%></p>
    <%= image_tag "maincake.gif", :size => "600x500", :align => "center"%>
    </span>
</div>

<div class="home-down">
    
</div>