<div class="container text-center">
    <span class="Home-span">
    
    <p class="home-title">Cafe Dream</p>
    <p class="Home-authenticate">New user ? <%= link_to "sign-up", new_user_path%></p>
    <p class="Home-authenticate">Welcome back! <%= link_to "sign-in", new_sessions_path%></p>
    </span>
</div>