.container {
    
    padding-bottom: 250px;
    padding-top: 105px;
    padding-left: 150px;
    padding-right: 150px;
    
   
}

.container-menu{
    
    margin-left: 650px;

}
.row {
    padding-bottom: 30px;
    
}
.card-body {
    background-color:rgb(252, 247, 240);
}
.container-details
{
    
    
    padding-bottom: 250px;
    padding-top: 105px;
    padding-left: 150px;
    padding-right: 150px;
}

.container-image{
margin-left: 150px;
}
